@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

body,
.message,
.form,
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2eee3;
}

body {
    height: 100vh;
    background: #e8e8e8;
    font-family: "Source Sans Pro", sans-serif;
    overflow: hidden;
}